/**
 * @author Alexis Bogado <alexis.bogado@s3w.es>
 * @package webinar-web
 */

.source-area {
	padding: 56.25% 0 0 0;
	position: relative;
}

.source-area iframe, .source-area .content-imagen {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.source-area#area-chat {
    padding: 75% 0 0 0;
}

.content-imagen img {
    width: 100%;
}

hr {
    margin: 0;
    border: 0;
    height: 1.5px;
    background-color: #2b4649;
}

.question-box {
    background: linear-gradient(to left, rgba(231, 125, 0, 0.30196078431372547), rgba(65, 169, 106, 0.30196078431372547));
    padding: 10px 15px;
    border-radius: 2em;
}

.question-box.no-bg {
    background: none;
}

#edit-question-area {
    display: none;
}

/* COL-SM */
@media (min-width: 768px) {
	.source-area {
		padding: 38.25% 0 0 0;
	}

	.source-area.no-chat {
		padding: 56.25% 0 0 0 !important;
	}
}

/* COL-MD */
@media (min-width: 992px) {
	.source-area {
		padding: 38.25% 0 0 0;
	}

	.source-area.no-chat {
		padding: 56.25% 0 0 0 !important;
	}
}