<!-- @author Alexis Bogado -->
<!-- @package webinar-preguntas -->

<template>
    <div class="row p-5">
        <!-- <div class="col-lg-3 mb-4">
            <div class="card shadow text-align-center">
                <h4 class="card-body mb-0 title text-transform-uppercase bold">
                    <i class="fas fa-file-excel mr-2"></i> Exportar a excel
                </h4>
                <div class="gradient-divider"></div>
                <div class="card-body row">
                   <div class="col-lg-12 my-2 py-1">
                        <button type="button" class="btn btn-block btn-gradient" :disabled="(this.downloadingData == 'questions')" @click="downloadExcel('questions')">
                            <i class="fas fa-spin fa-spinner" v-if="(this.downloadingData == 'questions')"></i>
                            <span v-else>Preguntas</span>
                        </button>
                    </div>

                    <div class="col-lg-12 my-2 py-1">
                        <button type="button" class="btn btn-block btn-gradient" :disabled="(this.downloadingData == 'users')" @click="downloadExcel('users')">
                            <i class="fas fa-spin fa-spinner" v-if="(this.downloadingData == 'users')"></i>
                            <span v-else>Usuarios registrados</span>
                        </button>
                    </div>

                    <div class="col-lg-12 my-2 py-1">
                        <button type="button" class="btn btn-block btn-gradient" :disabled="(this.downloadingData == 'users_per_range')" @click="downloadExcel('users_per_range')">
                            <i class="fas fa-spin fa-spinner" v-if="(this.downloadingData == 'users_per_range')"></i>
                            <span v-else>Conectados por rango</span>
                        </button>
                    </div>

                    <div class="col-lg-12 my-2 py-1">
                        <button type="button" class="btn btn-block btn-gradient" :disabled="(this.downloadingData == 'count_per_range')" @click="downloadExcel('count_per_range')">
                            <i class="fas fa-spin fa-spinner" v-if="(this.downloadingData == 'count_per_range')"></i>
                            <span v-else>Totales por rango</span>
                        </button>
                    </div>
                    
                    <div class="col-lg-12 my-2 py-1">
                        <button type="button" class="btn btn-block btn-gradient" :disabled="(this.downloadingData == 'total_online_users')" @click="downloadExcel('total_online_users')">
                            <i class="fas fa-spin fa-spinner" v-if="(this.downloadingData == 'total_online_users')"></i>
                            <span v-else>Conectados totales</span>
                        </button>
                    </div>

                    <div class="col-lg-12 my-2 py-1">
                        <button type="button" class="btn btn-block btn-gradient" :disabled="(this.downloadingData == 'allow_newsletters')" @click="downloadExcel('allow_newsletters')">
                            <i class="fas fa-spin fa-spinner" v-if="(this.downloadingData == 'allow_newsletters')"></i>
                            <span v-else>Acepto publicar</span>
                        </button>
                    </div>
                </div>
            </div>
        </div> -->

        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-12 mb-4">
                    <div class="card card-gradient shadow card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <h3 class="bold">Datos del Webinar</h3>
                            </div>

                            <div class="col-md-12">
                                <b>Fecha: </b>
                                <span class="fas fa-spin fa-spinner mb-3" v-if="this.updating"></span>
                                <span v-else>{{ this.streamingData.date }}</span>
                            </div>

                            <div class="col-md-12">
                                <b>Horario: </b>
                                <span class="fas fa-spin fa-spinner mb-3" v-if="this.updating"></span>
                                <span v-else>{{ this.streamingData.start }} - {{ this.streamingData.end }}</span>
                            </div>

                            <div class="col-md-12">
                                <b>Rango actual: </b>
                                <span class="fas fa-spin fa-spinner mb-3" v-if="this.updating"></span>
                                <span v-else>{{ this.streamingData.currentRange }}</span>
                            </div>

                            <div class="col-md-12">
                                <b>Fecha de último lanzamiento: </b>
                                <span>{{ releaseDate }}</span>
                            </div>

                            <hr width="100%">

                            <div class="col-md-10 pt-1">
                                <b>Última actualización de datos: </b>
                                <i class="fas fa-spin fa-spinner" v-if="!this.lastUpdate"></i>
                                <span v-else>
                                    {{ this.getLastUpdate }}
                                </span>
                            </div>
                            
                            <div class="col-md-2 text-align-right">
                                <button class="btn btn-block btn-sm btn-primary" @click="loadStreamingData" :disabled="this.updating">
                                    <i class="fas fa-sync mr-2"></i> Actualizar
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 mb-4">
                    <div class="card card--custom shadow card-body text-align-center">
                        <i class="far fa-user-plus f-lg mb-4"></i>
                        <b class="fas fa-spin fa-spinner f-md mb-3" v-if="this.updating"></b>
                        <b class="f-md" v-else>{{ this.formatNumber(this.streamingData.newUsers) }}</b>
                        <span class="text-transform-uppercase">Nuevos registrados</span>
                        
                        <button type="button" class="btn btn-gradient px-5 mt-3" :disabled="(this.downloadingData == 'new_users')" @click="downloadExcel('new_users')">
                            <i class="fas fa-spin fa-spinner" v-if="(this.downloadingData == 'new_users')"></i>
                            <span v-else><i class="fas fa-file-excel mr-2"></i> Excel</span>
                        </button>
                    </div>
                </div>
                
                <div class="col-lg-4 mb-4">
                    <div class="card card--custom shadow card-body text-align-center">
                        <i class="far fa-users f-lg mb-4"></i>
                        <b class="fas fa-spin fa-spinner f-md mb-3" v-if="this.updating"></b>
                        <b class="f-md" v-else>{{ this.formatNumber(this.streamingData.onlineUsers) }}</b>
                        <span class="text-transform-uppercase">Conectados ahora</span>
                    </div>
                </div>
                
                <div class="col-lg-4 mb-4">
                    <div class="card card--custom shadow card-body text-align-center">
                        <i class="far fa-user-chart f-lg mb-4"></i>
                        <b class="fas fa-spin fa-spinner f-md mb-3" v-if="this.updating"></b>
                        <b class="f-md" v-else>{{ this.formatNumber(this.streamingData.totalUsers) }}</b>
                        <span class="text-transform-uppercase">Conectados totales</span>
                        
                        <button type="button" class="btn btn-gradient px-5 mt-3" :disabled="(this.downloadingData == 'total_online_users')" @click="downloadExcel('total_online_users')">
                            <i class="fas fa-spin fa-spinner" v-if="(this.downloadingData == 'total_online_users')"></i>
                            <span v-else><i class="fas fa-file-excel mr-2"></i> Excel</span>
                        </button>
                    </div>
                </div>
                
                <div class="col-lg-4 mb-4">
                    <div class="card card--custom shadow card-body text-align-center">
                        <i class="far fa-question-circle f-lg mb-4"></i>
                        <b class="fas fa-spin fa-spinner f-md mb-3" v-if="this.updating"></b>
                        <b class="f-md" v-else>{{ this.formatNumber(this.streamingData.questionCount) }}</b>
                        <span class="text-transform-uppercase">Preguntas hechas</span>
                        
                        <button type="button" class="btn btn-gradient px-5 mt-3" :disabled="(this.downloadingData == 'questions')" @click="downloadExcel('questions')">
                            <i class="fas fa-spin fa-spinner" v-if="(this.downloadingData == 'questions')"></i>
                            <span v-else><i class="fas fa-file-excel mr-2"></i> Excel</span>
                        </button>
                    </div>
                </div>
                
                <div class="col-lg-4 mb-4">
                    <div class="card card--custom shadow card-body text-align-center">
                        <i class="far fa-projector f-lg mb-4"></i>
                        <b class="fas fa-spin fa-spinner f-md mb-3" v-if="this.updating"></b>
                        <b class="f-md" v-else>{{ this.formatNumber(this.streamingData.screenedQuestions) }}</b>
                        <span class="text-transform-uppercase">Preguntas proyectadas</span>
                    </div>
                </div>
                
                <div class="col-lg-4 mb-4">
                    <div class="card card--custom shadow card-body text-align-center">
                        <i class="far fa-tasks f-lg mb-4"></i>
                        <b class="fas fa-spin fa-spinner f-md mb-3" v-if="this.updating"></b>
                        <b class="f-md" v-else>{{ this.formatNumber(this.streamingData.answeredQuestions) }}</b>
                        <span class="text-transform-uppercase">Preguntas contestadas</span>
                    </div>
                </div>

                <div class="col-lg-4 mb-4">
                    <div class="card card--custom shadow card-body text-align-center">
                        <i class="far fa-money-check-edit f-lg mb-4"></i>
                        <b class="fas fa-spin fa-spinner f-md mb-3" v-if="this.updating"></b>
                        <b class="f-md" v-else>{{ this.formatNumber(this.streamingData.editedQuestions) }}</b>
                        <span class="text-transform-uppercase">Preguntas corregidas</span>
                    </div>
                </div>
                
                <div class="col-lg-4 mb-4">
                    <div class="card card--custom shadow card-body text-align-center">
                        <i class="far fa-address-book f-lg mb-4"></i>
                        <b class="fas fa-spin fa-spinner f-md mb-3" v-if="this.updating"></b>
                        <b class="f-md" v-else>{{ this.formatNumber(this.streamingData.userCount) }}</b>
                        <span class="text-transform-uppercase">Registrados totales</span>
                        
                        <button type="button" class="btn btn-gradient px-5 mt-3" :disabled="(this.downloadingData == 'users')" @click="downloadExcel('users')">
                            <i class="fas fa-spin fa-spinner" v-if="(this.downloadingData == 'users')"></i>
                            <span v-else><i class="fas fa-file-excel mr-2"></i> Excel</span>
                        </button>
                    </div>
                </div>
                
                <div class="col-lg-4 mb-4">
                    <div class="card card--custom shadow card-body text-align-center">
                        <i class="far fa-user-check f-lg mb-4"></i>
                        <b class="fas fa-spin fa-spinner f-md mb-3" v-if="this.updating"></b>
                        <b class="f-md" v-else>{{ this.formatNumber(this.streamingData.allowNewsletters) }}</b>
                        <span class="text-transform-uppercase">Aceptan publicar</span>
                        
                        <button type="button" class="btn btn-gradient px-5 mt-3" :disabled="(this.downloadingData == 'allow_newsletters')" @click="downloadExcel('allow_newsletters')">
                            <i class="fas fa-spin fa-spinner" v-if="(this.downloadingData == 'allow_newsletters')"></i>
                            <span v-else><i class="fas fa-file-excel mr-2"></i> Excel</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import Axios from 'axios'
import XLSX from 'xlsx'

export default {
    beforeRouteEnter(to, from, next) {
        next(vm => {
            if (!vm.$root.loggedIn || vm.$root.roleId != 3) vm.$router.push({ name: 'index' })
        })
    },
    data() {
        return {
            updating: false,
            lastUpdate: null,
            streamingData: [],
            downloadingData: null
        }
    },
    computed: {
        getLastUpdate: function() {
            return `${String(this.lastUpdate.getDate()).padStart(2, '0')}-${String(this.lastUpdate.getMonth() + 1).padStart(2, '0')}-${this.lastUpdate.getFullYear()} ${String(this.lastUpdate.getHours()).padStart(2, '0')}:${String(this.lastUpdate.getMinutes()).padStart(2, '0')}:${String(this.lastUpdate.getSeconds()).padStart(2, '0')}`
        },
        releaseDate: () => appData.releaseDate
    },
    methods: {
        loadStreamingData: function() {
            this.updating = true

            Axios.get(`${appData.url}/api/analytics`).then(({ data }) => {
                this.streamingData = data
                this.lastUpdate = new Date()
                this.updating = false
            }).catch(() => {
                this.updating = false
            })
        },
        downloadExcel: function(type) {
            this.downloadingData = type

            Axios.get(`${appData.url}/api/analytics/export/${type}`).then(({ data }) => {
                if (!data || (!data.values || data.values.length <= 0)) {
                    this.downloadingData = null
                    alert('¡No se han encontrado resultados para exportar!')
                    return
                }

                let table = document.createElement('table')
                table.id = 'to-export'

                let keys = ''
                data.keys.forEach(value => { keys += `<th>${value}</th>` })

                let values = ''
                data.values.forEach(value => {
                    let item = ''
                    data.keys.forEach(key => {
                        item += `<td>${(!value[key]) ? '' : String(value[key])}</td>`
                    })
                    
                    values += `<tr>${item}</tr>`
                })

                table.innerHTML = `<thead><tr>${keys}</tr></thead><tbody>${values}</tbody>`
                document.body.appendChild(table)

                const book = XLSX.utils.table_to_book(table, { raw: true })
                XLSX.writeFile(book, `${type}_${Date.now()}.xlsx`)

                document.body.removeChild(table)
                this.downloadingData = null
            }).catch(() => {
                alert('¡No se han encontrado resultados para exportar!')
                this.downloadingData = null
            })
        },
        formatNumber: (number) => ((number > 0) ? number.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1.') : number)
    },
    mounted() {
        this.loadStreamingData()
    }
}
</script>

<style scoped>
    .card--custom {
        min-height: 246.263px;
        align-items: center;
        justify-content: center;
    }

    .f-lg {
        font-size: calc(3vw + 3vh)
    }

    .f-md {
        font-size: 20pt
    }
</style>