<!-- @author Alexis Bogado -->
<!-- @package webinar-preguntas -->
<!-- @version 2.0.0 -->

<template>
    <div class="mid">
        <div class="card shadow" :class="{ 'cursor-wait': loggingIn, 'shake': (errors && !loggingIn) }">
            <h4 class="card-body mb-0 title text-transform-uppercase bold">Acceso a preguntas</h4>
            <div class="gradient-divider"></div>
            <div class="card-body">
                <form class="form-group w-100" @submit="login">
                    <div class="w-100">
                        <label for="username">Usuario</label>
                        <input type="text" class="form-control" :class="{ 'is-invalid': (errors && errors.username) }" v-model="username" placeholder="Escribe el nombre de usuario" :disabled="loggingIn">
                        <div class="invalid-feedback" v-if="(errors && errors.username)">
                            <span v-for="error in errors.username" :key="error">* {{ error }}<br /></span>
                        </div>
                    </div>

                    <div class="w-100 mt-3">
                        <label for="password">Contraseña</label>
                        <input type="password" class="form-control" :class="{ 'is-invalid': (errors && errors.password) }" v-model="password" placeholder="Escribe la contraseña" :disabled="loggingIn">
                        <div class="invalid-feedback" v-if="(errors && errors.password)">
                            <span v-for="error in errors.password" :key="error">* {{ error }}<br /></span>
                        </div>
                    </div>
                    
                    <button type="submit" class="btn btn-block btn-gradient mt-4">
                        <i class="fas fa-spin fa-spinner" v-if="loggingIn"></i>
                        <span v-else>Entrar</span>
                    </button>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
import Axios from 'axios'

export default {
    beforeRouteEnter(to, from, next) {
        next(vm => {
            if (vm.$root.loggedIn) vm.$router.push({ name: 'questions' })
        })
    },
    data() {
        return {
            username: null,
            password: null,
            loggingIn: false,
            errors: null
        }
    },
    methods: {
        login(e) {
            e.preventDefault()
            this.loggingIn = true

            Axios.post(`${appData.url}/api/auth/login`, {
                username: this.username,
                password: this.password
            }).then(({ data }) => {
                this.errors = data.errors
                
                if (!data.errors) {
                    this.$store.dispatch('setAuthData', data)
                    this.$router.push({ name: 'questions' })
                }

                this.loggingIn = false
            }).catch(() => {
                this.loggingIn = false
            })
        }
    }
}
</script>