<!-- @author Alexis Bogado -->
<!-- @package webinar-preguntas -->

<template>
    <div>
        <nav class="navbar navbar-expand-lg navbar-dark gradient" :style="((this.$route.name == 'questions' && this.$root.roleId == 3) ? { position: 'sticky !important', top: 0 } : '')">
            <b class="navbar-brand text-transform-uppercase" v-if="this.$route.name == 'analytics'">
                Estadísticas
            </b>
            <div v-else>
                <b class="navbar-brand text-transform-uppercase" >
                    {{ (this.$root.loggedIn ? this.$root.authData.user.usuario : 'Inicio') }}
                </b>

                <button @click="$store.dispatch('setScreeningVisibility')" target="_blank" class="btn btn-light btn-sm text-transform-uppercase bold" v-show="(this.$root.loggedIn && this.$root.roleId == 3)">{{ (this.$store.state.showScreening ? 'Cerrar' : 'Abrir') }} proyección</button>
            </div>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav p-0">
                    <li class="nav-item q" v-show="this.$root.loggedIn">
                        <a class="nav-link cursor-pointer" @click="logOut()">
                            <i class="fas fa-sign-out-alt fz-1-2"></i> Salir
                        </a>
                    </li>
                    
                    <li class="nav-item q">
                        <a class="nav-link" href="./directo" target="_blank">
                            <i class="fas fa-video fz-1-2"></i> Streaming
                        </a>
                    </li>
                    
                    <li class="nav-item q" v-show="(this.$root.loggedIn && this.$root.roleId == 3)" v-if="(this.$route.name == 'questions')">
                        <router-link :to="{ name: 'analytics' }" class="nav-link">
                            <i class="fas fa-analytics fz-1-2"></i> Estadísticas
                        </router-link>
                    </li>
                    
                    <li class="nav-item q" v-show="(this.$root.loggedIn && this.$root.roleId == 3)" v-else>
                        <router-link :to="{ name: 'questions' }" class="nav-link">
                            Volver a preguntas <i class="fas fa-long-arrow-left fz-1-2"></i>
                        </router-link>
                    </li>
                </ul>
            </div>
        </nav>

        <router-view></router-view>
    </div>
</template>

<script>
export default {
    methods: {
        logOut() {
            this.$root.logOut()
        }
    }
}
</script>