<!-- @author Alexis Bogado -->
<!-- @package webinar-preguntas -->

<template>
    <div>
        <div class="table mb-170">
            <div class="middle" v-if="(!this.getQuestions || this.getQuestions.length <= 0)">
                <i class="fad fa-spin fa-spinner-third fa-10x" v-if="this.loadingQuestions"></i>
                <h1 v-else>Aún no hay preguntas para mostrar</h1>
            </div>
            <table class="table table-striped">
                <tbody>
                    <QuestionComponent v-for="(question, index) in getQuestions" :key="question.idpregunta" :index="index" :current-question="question" />
                </tbody>
            </table>
        </div>
        
        <div class="messages-area container-fluid w-100" :class="(showMessages ? 'height80' : 'raise-height')" @click="showMessages = !showMessages" v-show="(this.$root.roleId == 1 || this.$root.roleId == 2)">
            <div class="row">
                <div class="col-sm-8 left mb-4">
                    <h3 class="bold">MENSAJES <sup class="unread-messages" v-if="(getNewMessages > 0)">{{ getNewMessages }}</sup></h3>
                </div>

                <div class="col-sm-3 mb-4" v-show="this.$root.roleId == 2">
                    <button type="button" class="btn btn-block btn-gradient pl-5 pr-5" @click="sendMessageModal">
                        Enviar mensaje
                    </button>
                </div>

                <div class="mb-4 arrow-area">
                    <i id="arrow-up" class="fa fa-chevron-circle-up fa-2x text-gradient cursor-pointer" :class="{ 'flipped': showMessages }"></i>
                </div>

                <div class="gradient-divider"></div>
            </div>
        
            <div class="mt-3">
                <div v-if="(messages.length > 0)">
                    <p v-for="message in messages" :key="message.id">
                        <b>{{ formatTime(message.fecha) }} <span class="text-transform-capitalize">{{ message.sender.usuario }}</span></b> {{ message.texto }}
                    </p>
                </div>
                <p class="text-align-center" v-else>No hay mensajes</p>
            </div>
        </div>
    
        <div id="send-message" class="modal fade" v-show="this.$root.roleId == 2">
            <div class="modal-dialog" :class="{ 'cursor-wait': sendingMessage }">
                <div class="modal-content">
                    <div class="modal-body p-3">
                        <button type="button" class="close white" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h3 class="bold text-transform-uppercase">Enviar mensaje</h3>

                        <hr class="border-white">

                        <div class="row mb-3">
                            <div class="col-sm-12">
                                <form class="form-group p-0">
                                    <label>Mensaje para el moderador</label>
                                    <textarea class="form-control" :class="{ 'is-invalid': messageError }" rows="5" placeholder="Escribe aquí el mensaje que quieres enviar al moderador" v-model="message" :disabled="sendingMessage"></textarea>
                                    <div class="invalid-feedback" v-show="messageError">
                                        {{ messageError }}
                                    </div>
                                </form>
                            </div>
                            
                            <div class="col-sm-12">
                                <button type="submit" class="login-button w-100" :class="{ 'blue': sendingMessage }" @click="sendMessage" :disabled="sendingMessage">
                                    <i class="fas fa-spin fa-spinner" v-if="sendingMessage"></i>
                                    <span v-else>Enviar</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <ScreeningComponent v-if="(this.$root.roleId == 3 && this.$store.state.showScreening)" />
    </div>
</template>

<script>
import Axios from 'axios'
import Moment from 'moment'

import QuestionComponent from './Question.vue'
import ScreeningComponent from './Screening.vue'

export default {
    beforeRouteEnter(to, from, next) {
        next(vm => {
            if (!vm.$root.loggedIn) vm.$router.push({ name: 'index' })
        })
    },
    beforeRouteLeave(to, from, next) {
        clearInterval(this.timeInterval)
        next()
    },
    components: {
        QuestionComponent,
        ScreeningComponent
    },
    data() {
        return {
            loadingQuestions: true,
            timeInterval: null,
            questions: [ ],
            currentScreening: 0,
            editingQuestion: false,
            messages: [ ],
            showMessages: false,
            newMessages: 0,
            message: null,
            sendingMessage: false,
            messageError: null
        }
    },
    computed: {
        getNewMessages: function() {
            if (this.newMessages > 0 && this.showMessages)
                this.newMessages = 0
            
            return this.newMessages
        },
        getCurrentScreening: function() {
            if (this.currentScreening <= 0) return
            
            return this.questions.find(question => question.idpregunta == this.currentScreening)
        },
        getQuestions: function () {
            return this.questions
        }
    },
    methods: {
        sendMessageModal(e) {
            e.stopImmediatePropagation()
            $("#send-message").modal('show')
        },
        formatTime(time) {
            return Moment(time).format('HH:mm')
        },
        sendMessage() {
            if (!this.message) {
                this.messageError = 'El mensaje no puede estar vacio'
                return
            }

            this.sendingMessage = true
            Axios.post(`${appData.url}/api/messages/send`, {
                message: this.message
            }).then(({ data }) => {
                if (data) {
                    this.messages = [
                        data,
                        ...this.messages
                    ]
                    
                    $("#send-message").modal('hide')
                    this.message = null
                }
                else this.messageError = 'El mensaje no es válido'

                this.sendingMessage = false
            }).catch(() => {
                this.messageError = 'Ocurrió un error al intentar enviar el mensaje'
                this.sendingMessage = false
            })
        },
        loadQuestions() {
            Axios.get(`${appData.url}/api/questions`).then(({ data }) => {
                if (!data) return
                
                this.questions = data

                if (this.$root.roleId == 3) {
                    let currentQuestion = null
                    this.questions.forEach(question => {
                        if (!question || !question.hora_proyectar) return
                        else if (currentQuestion && new Date(currentQuestion.hora_proyectar).getTime() > new Date(question.hora_proyectar).getTime()) return

                        currentQuestion  = question
                    })

                    this.currentScreening = (currentQuestion ? currentQuestion.idpregunta : 0)
                }

                this.loadingQuestions = false
            }).catch(() => {
                this.loadingQuestions = false
            })
        },
        loadMessages() {
            if (this.$root.roleId != 1 && this.$root.roleId != 2) return

            Axios.get(`${appData.url}/api/user/messages`).then(({ data }) => {
                if (!data) return

                if ((data.length - this.messages.length) > 0)
                    this.newMessages = (data.length - this.messages.length)

                this.messages = data
            })
        }
    },
    mounted() {
        this.loadQuestions()
        this.loadMessages()

        this.timeInterval = setInterval(() => {
            if (this.editingQuestion) return
            
            this.loadQuestions()
            this.loadMessages()
        }, 3000)
    }
}
</script>