<!-- @author Alexis Bogado -->
<!-- @package webinar-preguntas -->

<template>
    <tr @mouseout="showCopyButton = false" @mouseover="showCopyButton = true" :class="{ 'current-screening': ($root.roleId == 3 && this.$parent.currentScreening == question.idpregunta), 'blue-bg': ($root.roleId != 3 && checked) }">
        <td :width="(($root.roleId != 3) ? '100%' : '90%')">
            <h4 class="bold">
                <span class="text-gradient">#{{ (index + 1) }} </span>
                {{ question.idusuariogesida }}
            </h4>

            <p>
                <span v-if="($root.roleId == 3)">
                  <div v-if="(question.pregunta.includes('preguntas-audios') && question.pregunta.includes('.mp3'))">
                    <audio controls :src="`/storage/${question.pregunta}`" class="w-100"></audio>
                  </div>
                  <div v-else>
                    <i class="fas fa-spin fa-spinner px-1" v-if="this.updating"></i>
                    <span :title="`[ORIGINAL]: ${question.pregunta}`" @mouseup="edit" v-else-if="!this.editing" v-html="newQuestion"></span>
                    <EditorComponent :id="`question_${question.idpregunta}`" v-model="editedQuestion" :initialValue="newQuestion" :init="editorConfig" v-else />                  
                  </div>
                </span>
                <span :id="`question_${question.idpregunta}`" v-else-if="($root.roleId == 2)">
                  <div v-if="(question.pregunta.includes('preguntas-audios') && question.pregunta.includes('.mp3'))">
                    <audio controls :src="`/storage/${question.pregunta}`" class="w-100"></audio>
                  </div>
                  <div v-html="newQuestion" v-else></div>
                </span>
                <span :id="`question_${question.idpregunta}`" v-else>
                  <div v-if="(question.pregunta.includes('preguntas-audios') && question.pregunta.includes('.mp3'))">
                    <audio controls :src="`/storage/${question.pregunta}`" class="w-100"></audio>
                  </div>
                  <div v-else>
                  {{ question.pregunta }}
                  </div>
                </span>

                <span title="Copiar" class="far fa-copy copyIcon" :class="{ 'copyButton': showCopyButton }" v-if="($root.roleId == 1) && !(question.pregunta.includes('preguntas-audios') && question.pregunta.includes('.mp3'))" @click="copy"></span>
            </p>
        </td>
            
        <td class="v-middle" :width="(($root.roleId == 3) ? '5%': '')">
            <input type="checkbox" class="check-readed right" :checked="checked" :disabled="($root.roleId == 2 && question.estado == 2)" @click="updateStatus" />
        </td>
        
        <td class="v-middle" width="5%" v-show="($root.roleId == 3)">
            <button class="btn btn-lg btn-block btn-gradient mt--10" @click="updateStatus(false)">
                <i class="fas fa-video"></i>
            </button>
        </td>
    </tr>
</template>

<script>
import Axios from 'axios'
import EditorComponent from '@tinymce/tinymce-vue'

export default {
    props: [
        'currentQuestion',
        'index'
    ],
    components: {
        EditorComponent
    },
    data() {
        return {
            editing: false,
            updating: false,
            showCopyButton: false,
            editorConfig: {
                height: 150,
                menubar: false,
                toolbar: 'bold italic'
            },
            editedQuestion: ''
        }
    },
    computed: {
        question: function() {
            return this.currentQuestion
        },
        checked: function() {
            switch (this.$root.roleId) {
                case 3: // Editor
                    return !isNaN(Date.parse(this.question.hora_proyectar))

                case 2: // Administrator
                    return (this.question.estado != 0)

                case 1: // Moderator
                    return (this.question.estado == 2)

                default: return false
            }
        },
        newQuestion: function() {
            return (this.currentQuestion.corregido ? this.currentQuestion.corregido : this.currentQuestion.pregunta)
        }
    },
    methods: {
        mouseDown: function(event) {
            if (event.target.id == `question_${this.question.idpregunta}` || ((event.path && event.path.find(item => item.className == 'tox tox-tinymce') || event.srcElement.className == 'tox-toolbar__primary'))) return

            this.save()
        },
        edit: function() {
            if (this.editing) return

            this.editing = true
            this.$parent.editingQuestion = true
            
            document.addEventListener('mousedown', this.mouseDown)
        },
        copy: function() {
            const input = document.createElement('input')

            input.setAttribute('value', document.getElementById(`question_${this.question.idpregunta}`).innerText)
            document.body.appendChild(input)
            input.select()
            document.execCommand('copy')
            document.body.removeChild(input)
        },
        updateStatus: function(fromCheck = true) {
            if (this.$root.roleId == 3 && fromCheck) return

            Axios.put(`${appData.url}/api/questions/${this.question.idpregunta}/update/status`).then(({ data }) => {
                if (data) {
                    switch (this.$root.roleId) {
                        case 3: // Editor
                            this.question.hora_proyectar = data.hora_proyectar
                            this.$parent.currentScreening = data.idpregunta
                        break

                        default: // Administrator | Moderator
                            this.question.estado = data.estado
                        break
                    }
                }
            })
        },
        save: function () {
            if (this.updating) return

            this.editing = false
            this.$parent.editingQuestion = false

            this.updating = true

            Axios.put(`${appData.url}/api/questions/${this.question.idpregunta}/update`, {
                message: this.editedQuestion
            }).then(({ data }) => {
                this.question.corregido = data.corregido
                this.updating = false
            }).catch(() => {
                this.updating = false
            })
            
            document.removeEventListener('mousedown', this.mouseDown)
        }
    }
}
</script>

<style>
    .tox.tox-silver-sink.tox-tinymce-aux,
    .tox-notifications-container {
        display: none !important
    }
</style>