<!-- @author Alexis Bogado -->
<!-- @package webinar-preguntas -->

<template>
    <div class="screening-area">
        <div class="bottom" v-if="this.question">
            <div class="box" :style="{ 'border-color': this.primaryColor }" v-if="!this.question.pregunta.includes('preguntas-audios')">
                <div class="question" :style="{ 'background-color': this.primaryColor }">?</div>
                
                <div class="text-area">
                    <span id="question" v-html="this.questionText"></span>
                </div>
            </div>
            <audio id="audio-question" :src="`/storage/${this.question.pregunta}`" :title="this.questionTime" controls autoplay v-else></audio>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            primaryColor: appData.screeningPrimaryColor,
            maxLength: appData.screeningMaxLength,
            currentTime: null
        }
    },
    computed: {
        question: function() {
            return this.$parent.getCurrentScreening
        },
        questionText: function() {
            const text = (this.question.corregido || this.question.pregunta)
            if (!text) return
            
            return (text.substring(0, this.maxLength) + ((text.length > this.maxLength) ? '...' : ''))
        },
        questionTime: function() {
            if (!this.currentTime) this.currentTime = this.question.hora_proyectar
            
            if (this.currentTime != this.question.hora_proyectar && this.question.pregunta.includes('preguntas-audios')) {
                this.currentTime = this.question.hora_proyectar
                
                const audioElement = document.getElementById('audio-question')
                if (audioElement) {
                    audioElement.pause()
                    audioElement.currentTime = 0
                    
                    audioElement.play()
                }
            }

            return this.question.hora_proyectar
        }
    }
}
</script>

<style scoped>
    #audio-question { display: none }
</style>